* {
  box-sizing: border-box;
}


.color-red {
  stop-color: #e23131;
}

.color-yellow {
  stop-color: #fbe500;
}

.color-green {
  stop-color: #25cd6b;
}


.main {
  max-width: 1200px;
  margin: 0 auto;
}
.main__title {
  text-align: center;
  font-size: 48px;
}

.gradient-mask {
  visibility: hidden;
}


.gauge-container {
  padding: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.gauge {
  height: 180px;
  width: 250px;
}
.gauge .dxg-range.dxg-background-range {
  fill: url(#gradientGauge);
}
.gauge .dxg-line {
  -webkit-transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
          transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
}
.gauge .dxg-line path:first-child,
.gauge .dxg-line path:last-child {
  display: none;
}
.gauge .dxg-line path:nth-child(2),
.gauge .dxg-line path:nth-child(6) {
  stroke: #ed811c;
}
.gauge .dxg-line path:nth-child(3),
.gauge .dxg-line path:nth-child(5) {
  stroke: #a7db29;
}
.gauge .dxg-line path:nth-child(4) {
  stroke: #25cd6b;
}
.gauge .dxg-elements text:first-child {
  -webkit-transform: translate(19px, 13px);
          transform: translate(19px, 13px);
}
.gauge .dxg-elements text:last-child {
  -webkit-transform: translate(-27px, 14px);
          transform: translate(-27px, 14px);
}
.gauge .dxg-value-indicator path {
/*  -webkit-transform: scale(1.2) translate(0, -5px);
          transform: scale(1.2) translate(0, -5px);
  -webkit-transform-origin: center center;
          transform-origin: center center;*/
}
/*.gauge .dxg-value-indicator .dxg-title {
  text-transform: uppercase;
}
.gauge .dxg-value-indicator .dxg-title text:first-child {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}*/
.gauge .dxg-value-indicator .dxg-spindle-border:nth-child(4),
.gauge .dxg-value-indicator .dxg-spindle-hole:nth-child(5) {
  -webkit-transform: translate(0, -75px);
          transform: translate(0, -75px);
}
.gauge .dxg-value-indicator .dxg-spindle-hole {
  fill: black;
}
